nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.address-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 11px;
  width: 2.625in;
  height: 1in;
  overflow: hidden;
  padding: .05in .3in;
  margin: 0 .0625in;
  float: left;
}

.address-label:nth-of-type(30n+1), .address-label:nth-of-type(30n+2), .address-label:nth-of-type(30n+3) {
  margin-top: 0.5in;
}

.print {
  height: 600px;
  width: 100%;
  background: #444;
  overflow: scroll;
}
.fullSheet {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 10in;
    width: 8.2in;
    padding: 0.15in 0.5in;
    background: #fff;
    page-break-after: always;
    position:relative;
    margin: 20px auto;
  }

.boxLabel {
  /*
  Width: 2(3.75)+.25+2(.375)
  Left: .375-.16 = .215
  Right: .25/2 =
  */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 4.25in;
  vertical-align: top;
  height: 5.5in;
  //margin:.125in .1525in;
  padding: .135in .5in;
  float: left;
}
.boxParent {
  height: 11in;
  width: 8.5in;
  margin: 20px auto;
  background: #fff;
  page-break-after: always;
}

@media print {
  * {
    margin:0;
    padding:0;
  }
  html, body {
    width:8.5in;
    margin:0;
    padding:0;
  }
  .print-hidden {
    display:none;
  }
  .print {
    margin:0;
    padding:0;
    background: #fff;
    overflow: visible;
  }
  @page {
    height: 11in;
    width:8.5in;
    margin:0;
    padding:0;
  }
  .boxParent {
    margin:0;
    padding:0;
  }
  .cert {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 3.36667in;
    padding: .2in .15in;
    font-size:.85em;
    width: 100%;
    border-bottom: 1px dashed #444;
  }
  .address-label:nth-of-type(30n+1),
  .cert.break {
    page-break-after: always;
  }
  .fullSheet {
    margin: 0;
  }
}
